.whatsapp-button {
    display: flex;
    align-items: center;
    background: transparent;
    color: #25d366; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: none;
    justify-content: center; 
    transition: all 0.3s ease; 
  }
  
  .whatsapp-button:hover {
    background-color: #25d366; 
    color: white; 
    transform: scale(0.9); 

  }
  
  .whatsapp-button .button-text {
    display: none; 
    transition: display 0.3s ease;
  }
  
  .whatsapp-button:hover .button-text {
    display: inline; 
  }
  
  .whatsapp-button img {
    width: 60px; 
    transition: width 0.3s ease;
  }

  @media (max-width: 768px) {
    .whatsapp-button {
      font-size: 14px; 
      padding: 8px 15px; 
    }
  
    .whatsapp-button img {
      width: 35px; 
    }
  }
  
  @media (max-width: 480px) {
    .whatsapp-button {
      font-size: 12px; 
      padding: 0; 
    }
  
    .whatsapp-button img {
      width: 50px; 
    }
    .whatsapp-button span {
        margin-left: 10px;
    }
  }
  